body {
    background-color: #FCD8FC;
}

h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

h2{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

p{
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
}

img {
    
    width: 100%;
  }

